{% extends 'layout.html' %}

{% block title %} Empresa {% endblock %}

{% block content %}
<div class="nos">
   <h1 class="title">Nosotros</h1>
   <p>Descubre Axon Ingeniería: donde la juventud se combina con la experiencia y el conocimiento en tecnología de
      vanguardia.
      Nuestro equipo altamente capacitado no solo se adapta rápidamente a los cambios, sino que los abraza, ofreciendo
      soluciones
      ágiles y efectivas a las necesidades de nuestros clientes. Desde un enfoque multidisciplinario, utilizamos una
      amplia gama de
      recursos para resolver cualquier desafío, sin limitarnos a lo que tenemos internamente. Con una red sólida de
      proveedores,
      podemos ofrecer soluciones rápidas y eficientes. Únete a nosotros en este viaje hacia la innovación y la
      excelencia en
      ingeniería.</p>
   <h3>Nuestro proposito</h3>
   <p>Solucionar problemas sin límites, entregando un servicio único y de calidad, ayudando a cada empresa a crecer.</p>
   <h3>Misión</h3>
   <p>Proporcionar un servicio exclusivo y de alta calidad a cada cliente, impulsando su desarrollo. Nos comprometemos
      a mejorar constantemente, guiados por las normativas pertinentes. </p>
   <h3>Visión</h3>
   <p>Ser reconocidos a nivel nacional como una empresa líder en ofrecer el mejor servicio personalizado en
      electricidad,
      automatización y control industrial. Nos adaptamos a los cambios y permitimos que cada empresa se desarrolle de
      manera segura.</p>
</div>


{% endblock %}