{% load static %}
<div class="info2-container">
    <div class="info2-1">
        <div class="info2-2">
            <img src="{% static 'images/jpg/info5.jpg' %}" alt="Imagen">
            <div class="cubrir1">
                <p class="text1">PROYECTOS</p>
                <p class="text2">SERVICIOS DE AUTOMATIZACIÓN Y CONTROL INDUSTRIAL</p>
                <p class="text3">Servicios De Consultoría, Estudio De Proyectos E Ingeniería De Detalle</p>
                <a href="{% url 'contacto' %}" class="cubrir1-text">CONTÁCTANOS</a>
            </div>
        </div>
        
    </div>
</div>