{% load static %}
<div class="info-container">
    <div class="info-1">
        <div class="info-2">
            <img src="{% static 'images/jpg/info2.jpg' %}" alt="Imagen">
            <div class="cubrir">
                <p class="text1">AGENTE OFICIAL</p>
                <p class="text2"> y Prisma Industriale</p>
                <p class="text3">Marcas reconocidas</p>
                <p class="text4"> a nivel mundial</p>
                <a href="{% url 'representacion' %}" class="cubrir2-text">LEER MÁS</a>
            </div>
        </div>
        
    </div>
</div>