{% extends 'layout.html' %}


{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="title-login">
    <h1>{{title}}</h1>
</div>

    {% if messages %}
        {% for i in messages %}
            <div class="alert alert-warning">
                {{i|safe}}
            </div>
        {% endfor %}
    {% endif %}

    {{registro_form.errors}}
    <div class="form-container-login">
        <form method="post" action="">
            {% csrf_token %}
    
            <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input type="text" name="username" id="username" />
            </div>
            
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" />
            </div>
    
            <div class="form-group">
                <input type="submit" value="Login" class="submit-button"/>
            </div>
        </form>
    </div>
{% endblock %}