{% extends 'layout.html' %}
{% load static %}

{% block title %} Representacion {% endblock %}

{% block content %}

<div class="repres">
    <div class="image">
        <img src="{% static 'images/iconos/LAETUS.png' %}" alt="Imagen">
    </div>
    <div class="parrafo">
        <p><a href="https://www.laetus.com/en/">Laetus</a> presente en Chile bajo el respaldo técnico y comercial de
            Axon
            ingeniería eléctrica Spa, ofrece sistemas de Inspección de impresión y códigos rápida y eficaz
            ARGUS WT verifica la calidad de impresión y la precisión de todos los códigos comunes, como código de
            barras, DATAMATRIX y código QR, así como información de color, texto sin formato e imágenes.
            POLYPHEM WT, ofrece Sistema de alta tecnología para la verificación de blíster en líneas farmacéuticas de
            diferentes proveedores.
            Los sistemas pueden cumplir con CFR21 parte 11</p>
    </div>

</div>

<div class="repres">
    <div class="image">
        <img src="{% static 'images/iconos/logo.jpg' %}" alt="Imagen">
    </div>
    <div class="parrafo">
        <p><a href="https://www.ues-ag.net/index.php?id=23&L=1">UES AG</a>, ahora presente en Chile bajo el respaldo
            técnico y comercial de Axon ingeniería eléctrica Spa, ofrece
            productos que han tenido éxito en los mercados de tecnología adhesiva durante más de 15 años. Durante este
            tiempo, UES AG se ha convertido en un proveedor líder para una amplia variedad de industrias y campos de
            aplicación. Para muchos clientes, las soluciones del sistema UES se han convertido en un paso importante en
            las líneas de producción. Seguimos desarrollando nuestros productos e introduciendo nuevas tecnologías para
            mejorar significativamente la calidad y los tiempos de servicio, cuyo resultado final son instalaciones de
            última generación y clientes satisfechos.

            Nuestros productos, mantenimiento y servicio al cliente están todos adaptados para cumplir con sus
            requisitos.

            ¡Nuestras cuatro promesas para ti!</p>
    </div>


</div>


<div class="repres">
    <div class="image">
        <img src="{% static 'images/iconos/PRISMA1.png' %}" alt="Imagen">
    </div>
    <div class="parrafo">
        <p><a href="https://www.prismaindustriale.com/es/">PRISMA INDUSTRIALE</a> es el líder italiano en pesaje
            dinámico, con 39 años de experiencia en el control de peso
            y en la detección de contaminantes en productos industriales.
            La inflexibilidad en el respeto de los estándares internacionales junto con la elasticidad en ser capaz de
            cumplir con los deseos del cliente: es por este equilibrio que viene el éxito de PRISMA INDUSTRIALE SRL en
            el mundo.
            Por esto PRISMA INDUSTRIALES S.r.l. siempre se ha puesto como meta optimizar su organización y crear una
            estructura capaz de responder positivamente a las demandas del mercado.
            PRISMA INDUSTRIALE S.r.l. obtuvo la certificación ISO 9001 hace más de diez años, revisándola y
            actualizándola periódicamente.
            Cada día sigue su propio Manual de Calidad , que indica jerarquías y métodos operativos claros, definidos y
            probados, a través de los cuales es capaz de responder rápidamente a las necesidades cambiantes que requiere
            el mercado de máquinas de control de calidad.
            Además, consciente de la importancia de la sostenibilidad medioambiental y el ahorro energético, PRISMA ha
            definido su propia Política Medioambiental, que tiene como objetivo reducir el impacto de cada actividad de
            la empresa en el equilibrio ecológico natural y apoyar la conservación de los recursos naturales.</p>
    </div>

</div>


{% endblock %}