{% extends 'layout.html' %}
{% load static %}

{% block title %} Servicios {% endblock %}

{% block content %}

    <div class="boxserv-1">
        <div class="title">
            <h1>Nuestros Servicios</h1>
        </div>
        <div class="parrafo">
            <p>Axon ingeniería eléctrica Spa ofrece servicios de mantenimiento industrial en ámbito eléctrico y
                electromecánico, cuenta con técnicos e ingenieros con experiencia en el rubro industrial. Contamos con
                experiencia en una amplia gama de máquinas automáticas de diferentes fabricantes.</p>
        </div>
    </div>

    <div class="boxserv-2">
        <div class="title">
            <h1>Ingeniería</h1>
        </div>
        <div class="parrafo">
            <p>Desarrollamos proyectos completos con Ingenieria completa, Ingenieria de detalle, filosofía de
                control, diagramas en norma y documentación completa.</p>
        </div>

        <div class="image">
            <img src="{% static 'images/jpg/servicio-01.webp' %}" alt="Imagen">
        </div>
    </div>

    <div class="boxserv-2">
        <div class="title">
            <h1>Automatización y Control</h1>
        </div>
        <div class="parrafo">
            <p>Con más de 15 años en la industria farmacéutica y de alimentos nuestro equipo de trabajo es capaz de
                automatizar maquinaria que ya tenga su sistema de control obsoleto, incorporando tecnología vigente.
                royecto con completa documentación y respaldos para nuestros clientes.</p>
        
        </div>
        <div class="image">
            <img src="{% static 'images/jpg/servicios-02-a.jpg' %}" alt="Imagen">
        </div>
        <div class="list">
            <ul>
                <li>
                    Migraciones.
                </li>
                <li>
                    Actualizaciones Parciales.
                </li>
                <li>
                    Ordenamientos de Tableros.
                </li>
                <li>
                    Limpieza de Tableros.
                </li>
                <li>
                    Cambio de Componentes Puntuales.
                </li>
            </ul>
        </div>


    </div>

    <div class="boxserv-2">
        <div class="title">
            <h1>Montaje y Proyectos</h1>
        </div>
        <div class="parrafo">
            <p>Se realizan trabajos industriales como desarrollo de
                piezas, movimientos de maquinas, montaje de equipos nuevos, suministros eléctricos, proyectos eléctricos.
            </p>
        </div>
        <div class="image">
            <img src="{% static 'images/jpg/servicios-03-a.webp' %}" alt="Imagen">
        </div>
    </div>

    <div class="boxserv-2">
        <div class="title">
            <h1>Proyectos</h1>
        </div>
        <div class="parrafo">
            <p>Axon ingeniería eléctrica Spa ofrece proyectos Electricos e Industriales, desarrollando
                desde cero sus requerimientos.</p>
        </div>
        <div class="image">
            <img src="{% static 'images/jpg/banner-03.webp' %}" alt="Imagen">
        </div>
    </div>

    <div class="boxserv-2">
        <div class="title">
            <h1>Diseños y Protecciones</h1>
        </div>
        <div class="parrafo">
            <p>Desarrollamos todas sus ideas para mejorar soportes o protecciones en máquinas y equipos.</p>
        </div>
        <div class="image">
            <img src="{% static 'images/jpg/banner-02.webp' %}" alt="Imagen">
        </div>
    </div>

{% endblock %}